<footer class="footer py-3 mt-auto" style="background-color: #004d40;">
    <div class="container d-flex justify-content-center align-items-center">
        <p class="text-center text-light fw-lighter">&copy; 2024 MediCure Store. All rights reserved.</p>
    </div>
</footer>